@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1180px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 48px 0;
}

.box {
    width: 372px;
    text-align: center;
}

.box img {
    width: 100%;
}